{% extends 'blog/base.html' %}
{% block title %}All Posts - My Blog{% endblock %}
{% block content %}
    <div class="blog-content p-4 border rounded shadow-sm bg-white">
        <h2 class="mb-3">All Posts</h2>
        {% for post in posts %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content|truncatechars:150 }}</p>
                    <a href="{% url 'blog:post_detail' post.id %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        {% empty %}
            <p>No posts found. Create a new post <a href="{% url 'blog:post_create' %}">here</a>.</p>
        {% endfor %}
    </div>
{% endblock %}
